/* styles.css */
.collapsible-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000; 
  width: 200px;
 border-radius: 10px;
}

.collapsible-header {
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  position: relative; 
  background: #F8F9FA;
}

.collapsible-content {
  padding: 10px;
  background-color: #fefefe;
  border-radius: 10px;
}

.input-row{
padding: 10px;
border: 1px solid #e5e5e5;
border-radius: 8px;
width: 180px;
}

.submit-btn{
  background-color: #44D6EF;
  padding: 6px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 25px;
  margin-top: 10px;
  width: 100px;
  
}